.myowncss p{
    text-indent: 30px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .myowncss ul {
    margin: 20px;
    text-indent: 0px;
    list-style-type: square;
    padding: 0
  }
  .myowncss h1{
    text-indent: 20px;
    font-size:26px;
    text-align:center;
  }
  .myowncss h2{
    font-size:20px;
    font-weight:600;
  }
  .myowncss h3{
    font-size:18px;
    font-weight:600;
  }
  .myowncss span{
    font-size:24px;
    font-weight:500;
  }
  .myowncss img{
    width: auto; 
    max-height: 100%;
  }
  .myowncss iframe{
    width: 100%; 
  }
  /*WHEN SCREEN WIDTH 600PX+*/
  @media screen and (min-width:600px){
  .myowncss p{
    text-indent: 12px;
    margin-bottom: 5px;
    font-size:15px;
    padding:3px;
  }
  .myowncss ul {
    margin: 10px;
    text-indent: 0px;
    list-style-type: square;
    padding: 0
  }
  
    .myowncss h1{
    text-indent:20px;
    font-size:20px;
    text-align:center;
  }
  .myowncss h2{
    font-size:18px;
    font-weight:600;
  }
  .myowncss h3{
    font-size:18px;
    font-weight:600;
    padding:10px;
  }
  .myowncss span{
    font-size:24px;
    font-weight:500;
  }
}